body {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(238, 238, 238)), color-stop(1, rgb(248, 248, 248)));
}

.navbar-search {
    width: 500px;
}

.title {
    width: 458px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.url {
    width: 458px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.dropdown-menu {
    background-color: rgb(233, 233, 233);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background-color: rgb(209, 209, 209);
    color: inherit;
}

.navbar-search input[type="text"] {
    border-color: rgba(255, 119, 0, 0.8);
}

.text-info {
    color: rgb(255, 119, 0);
}

.muted {
    color: rgb(100, 100, 100);
}
