.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  background-color: rgb(255, 119, 0);
}

a {
  color: rgb(255, 119, 0);
}

a:hover {
  color: rgb(255, 119, 0);
}


