@charset 'UTF-8';

body {
 background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(238, 238, 238)), color-stop(1, rgb(248, 248, 248)));
}

.navbar-search {
 width: 500px;
}

.favicon {
 max-width: 16px;
 margin-right: 5px;
 float: left;
}

.title {
 /*width: 437px;*/
 width: 458px;
 text-overflow: ellipsis;
 overflow: hidden;
}

.url {
 width: 458px;
 text-overflow: ellipsis;
 overflow: hidden;
 display: block;
}

.active .text-info {
 color: inherit;
}
